version: "3.7"
services:
  wuzapi:
    image: wuzapi-chatwoot:latest
    build: .
    networks:
      - Nex1Net
    environment:
      - WUZAPI_ADMIN_TOKEN=${WUZAPI_ADMIN_TOKEN}
      - SECRET_KEY=${SECRET_KEY}
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=${DB_PORT}
      - DB_DRIVER=${DB_DRIVER}
      - TZ=${TZ}
      - WEBHOOK_FORMAT=${WEBHOOK_FORMAT}
      - CHATWOOT_URL=${CHATWOOT_URL}
      - CHATWOOT_ACCOUNT_ID=${CHATWOOT_ACCOUNT_ID}
      - CHATWOOT_ACCESS_TOKEN=${CHATWOOT_ACCESS_TOKEN}
      - CHATWOOT_INBOX_ID=${CHATWOOT_INBOX_ID}
    volumes:
      - wuzapi_dbdata:/app/dbdata
      - wuzapi_files:/app/files
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.http.routers.wuzapi.rule=Host(`wuzapi.zorbix.cloud`)
        - traefik.http.services.wuzapi.loadbalancer.server.port=8080
        - traefik.http.routers.wuzapi.service=wuzapi
        - traefik.http.routers.wuzapi.tls.certresolver=letsencryptresolver
        - traefik.http.routers.wuzapi.entrypoints=websecure
        - traefik.http.routers.wuzapi.tls=true

volumes:
  wuzapi_dbdata:
    external: true
    name: wuzapi_dbdata
  wuzapi_files:
    external: true
    name: wuzapi_files

networks:
  Nex1Net:
    name: Nex1Net
    external: true
